/*	html {
    	font-size: 30px;
    } */
    
/*	.pai {
    	font-size: 50px;
    } */
    
/*    p {
    	font-size: 0.5em;
    } */
    
/*    p {
    	font-size: 1.5rem;
    }*/
    
/*    html {
    	font-size: 62.5%;
    } */
    
/*    p {
    	font-size: 1.6rem;
    } */
    
/*    .pai {
    	width: 30rem;
        height: 30rem;
        background: yellow;
    } */
    
/*    * {
    	margin: 0;
        padding: 0;
    } */
    
/*    html {
    	font-size: 62.5%;
        scroll-behavior: smooth;
    } */
    
/*    p {
    	font-size: 1.6rem;
    } */
    
/*    .pai {
    	width: 100vw;
        height: 100vh;
        background: yellow;
    } */
    
/*    .color-one {
    	background: turquoise;
    } */
    
/*    .color-two {
    	background: violet;
    } */
    
    * {
    	margin: 0;
        padding: 0;
    }
    
    html {
    	font-size: 62.5%;
        scroll-behavior: smooth;
    }
    
    p {
    	font-size: 1.6rem;
    }
    
    .pai {
    	width: 50rem;
        height: 100vh;
        background: yellow;
    }
    
    .pai > div {
    	width: 50%;
        height: 50rem;
        background: blue;
    }
    
    .color-one {
    	background: turquoise;
    }
    
    .color-two {
    	background: violet;
    }