* {
    margin: 0;
    padding: 0;
}

/* h1, p {
    color: darkblue;
}

body div section p,
body div section h1 {
color: darkorange;
} */

/* .color-darkcyan {
    color: darkcyan;
}

.main-content h2 {
    font-style: italic;
} */

/* .main-content .heading {
    font-style: italic;
    color: purple;
} */

/* .main-content h2.heading {
    font-style: italic;
    color: pink;
} */

/* .pai h1+p {
    color: red;
}

.pai p+h1 {
    color: rebeccapurple;
} */

/* .pai h1~p {
    color: red;
} */

/* .pai .one~.two {
    color: red;
} */

/* .pai .one+.two {
    color: red;
} */

/* [meu-atributo="valor"] {
    color: green;
} */

/* [meu-atributo] {
    color: green;
} */